<section class="intro">
  <div class="container">
    <p class="lead"><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">Isabel Kaspriskie</a> is a software engineer interested in the intersection of <a href="{{ '/computer-music' | prepend: site.baseurl | prepend: site.url }}">computers and music</a>. When away from her keyboard and mouse, Isabel can be found playing <a href="{{ '/horn' | prepend: site.baseurl | prepend: site.url }}">horn</a>, sticking her nose in <a href="reading.html">books</a>, or <a href="https://www.ravelry.com/people/ikaspriskie">knitting</a> away.</p>
  </div>
</section>
