
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/computer-music' | prepend: site.baseurl | prepend: site.url }}">Digital Audio</a></li>
      <li><a href="{{ '/horn' | prepend: site.baseurl | prepend: site.url }}">Horn</a></li>
      <li><a href="{{ '/other-stuff-i-like' | prepend: site.baseurl | prepend: site.url }}">Other</a></li>
    </ul>
  </div>
</nav>
